@import "tailwindcss";

a {
  text-decoration: none;
  color: black;
}

.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 1s;
}

.navbar {
  background: white;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.logo {
  font-weight: bold;
}
.loginbtn {
  background-color: #dcdcdc;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.loginbtn:hover {
  background-color: #999999;
}

/* Light Mode */
body[data-theme="light"] {
  background: white;
  color: black;
}

body[data-theme="light"] .navbar a,
body[data-theme="light"] .navbar {
  background: rgb(213, 242, 255);
  color: rgb(0, 0, 0);
}

/* Dark Mode */
body[data-theme="dark"] .navbar a,
body[data-theme="dark"] .navbar {
  background: rgb(57, 57, 57);
  color: white;
}

body[data-theme="dark"] .list-item a,
body[data-theme="dark"] .list-item {
  background: rgb(9, 0, 56);
  color: white;
}

body[data-theme="dark"] {
  background: black;
  color: white;
}
